<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rede Sigma de Automóveis</title>
    <link rel="stylesheet" href="C:\Users\User\Documents\GitHub\smart\Sigma_Automoveis\static\css\index.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <img src="static/img/logo_sigma.png" alt="Logo Sigma" class="logo">
            <ul>
                <li><a href="templates/veiculo.html">Controle de Veículos</a></li>
                <li><a href="templates/operacao_venda.html">Controle de Vendas</a></li>
                <li><a href="templates/operacao_compra.html">Controle de Compras</a></li>
                <li><a href="templates/pedido.html">Controle de Pedidos</a></li>
                <li><a href="templates/cliente.html">Controle de Clientes</a></li>
                <li><a href="templates/vendendor.html">Controle de Vendedores</a></li>
                <li><a href="templates/montadora.html">Controle de Montadoras</a></li>
                <li><a href="templates/index.html">Sair</a></li>
            </ul>
        </nav>

        <main class="main-content">
            <h1>Bem-vindo</h1>
            <div class="logo-container">
                <img src="static/img/logo_sigma.png" alt="Logo Rede Sigma">
            </div>
            <p>Rede Sigma de Automóveis</p>

            <!-- Lista de Clientes -->
            <ul id="clientes-list"></ul>
        </main>
    </div>

    <!-- Script para carregar os clientes -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/clientes')
                .then(response => response.json())
                .then(data => {
                    let clientesList = document.getElementById('clientes-list');
                    data.forEach(cliente => {
                        let li = document.createElement('li');
                        li.textContent = `${cliente.nome} - ${cliente.cpf}`;
                        clientesList.appendChild(li);
                    });
                })
                .catch(error => console.error('Erro ao carregar os clientes:', error));
        });
    </script>
</body>
</html>

